ChuongTrinhQuanLiXeMay/BaiTapLon_LapTrinhPhanTan_DungWCF/Presentation/Connected Services/DungWCFQuanLyXeMay/QuanLyXeMay2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55092/QuanLyXeMay.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entity" />
  <xs:element name="LayToanBoNhanVien">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LayToanBoNhanVienResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="LayToanBoNhanVienResult" nillable="true" type="q1:ArrayOfeNhanVien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemNhanVien">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="nv" nillable="true" type="q2:eNhanVien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemNhanVienResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ThemNhanVienResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KiemTraNhanVien">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ma" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KiemTraNhanVienResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KiemTraNhanVienResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaNhanVien">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="nv" nillable="true" type="q3:eNhanVien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaNhanVienResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SuaNhanVienResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaNhanVien">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="nv" nillable="true" type="q4:eNhanVien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaNhanVienResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="XoaNhanVienResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayToanBoKhachHang">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LayToanBoKhachHangResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="LayToanBoKhachHangResult" nillable="true" type="q5:ArrayOfeKhachHang" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemKhachHang">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="kh" nillable="true" type="q6:eKhachHang" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemKhachHangResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ThemKhachHangResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaKhachHang">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="kh" nillable="true" type="q7:eKhachHang" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaKhachHangResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SuaKhachHangResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaKhachHang">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="kh" nillable="true" type="q8:eKhachHang" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaKhachHangResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="XoaKhachHangResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KiemTraKhachHang">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ma" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KiemTraKhachHangResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KiemTraKhachHangResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayToanBoXeMay">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LayToanBoXeMayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="LayToanBoXeMayResult" nillable="true" type="q9:ArrayOfeXeMay" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayToanBoLoaiXe">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LayToanBoLoaiXeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="LayToanBoLoaiXeResult" nillable="true" type="q10:ArrayOfeLoaiXe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayLoaiTheoMa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ma" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayLoaiTheoMaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="LayLoaiTheoMaResult" nillable="true" type="q11:eLoaiXe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemXe">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="xemaymoi" nillable="true" type="q12:eXeMay" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemXeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ThemXeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KiemTraXeMay">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ma" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KiemTraXeMayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KiemTraXeMayResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaXe">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="xe" nillable="true" type="q13:eXeMay" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaXeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="XoaXeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaXeMay">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="xe" nillable="true" type="q14:eXeMay" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaXeMayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SuaXeMayResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayLoaiXeTheoTenLoai">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tenLoai" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayLoaiXeTheoTenLoaiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="LayLoaiXeTheoTenLoaiResult" nillable="true" type="q15:eLoaiXe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CapNhatSoLuongXe">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="xe" nillable="true" type="q16:eXeMay" />
        <xs:element minOccurs="0" name="soluong" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CapNhatSoLuongXeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CapNhatSoLuongXeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KiemTraDangNhap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taiKhoan" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="matKhau" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KiemTraDangNhapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="KiemTraDangNhapResult" nillable="true" type="q17:eNhanVien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="themHoaDon">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="eHD" nillable="true" type="q18:eHoaDon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="themHoaDonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="themHoaDonResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="thongKeBanChay">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tuNgay" type="xs:dateTime" />
        <xs:element minOccurs="0" name="denNgay" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="thongKeBanChayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="thongKeBanChayResult" nillable="true" type="q19:ArrayOfeThongKeBanChay" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="thongKeKhachMuaNhieu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tuNgay" type="xs:dateTime" />
        <xs:element minOccurs="0" name="denNgay" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="thongKeKhachMuaNhieuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="thongKeKhachMuaNhieuResult" nillable="true" type="q20:ArrayOfeThongKeKhachMuaNhieu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="thongKeDoanhThu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tuNgay" type="xs:dateTime" />
        <xs:element minOccurs="0" name="denNgay" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="thongKeDoanhThuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="thongKeDoanhThuResult" nillable="true" type="q21:ArrayOfeThongKeDoanhThu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimKhachHangTheoSDT">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sdt" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimKhachHangTheoSDTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="TimKhachHangTheoSDTResult" nillable="true" type="q22:eKhachHang" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimKhachHangTheoMa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ma" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimKhachHangTheoMaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="TimKhachHangTheoMaResult" nillable="true" type="q23:eKhachHang" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimKhachHangTheoTen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ten" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimKhachHangTheoTenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="TimKhachHangTheoTenResult" nillable="true" type="q24:eKhachHang" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PhatSinhMaKH">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PhatSinhMaKHResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PhatSinhMaKHResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PhatSinhMaXe">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PhatSinhMaXeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PhatSinhMaXeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PhatSinhMaNhanVien">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PhatSinhMaNhanVienResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PhatSinhMaNhanVienResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PhatSinhMaHoaDon">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PhatSinhMaHoaDonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PhatSinhMaHoaDonResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimXeTheoTen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ten" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimXeTheoTenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="TimXeTheoTenResult" nillable="true" type="q25:eXeMay" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimXeTheoMa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ma" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimXeTheoMaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="TimXeTheoMaResult" nillable="true" type="q26:eXeMay" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemChiThiet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="ct" nillable="true" type="q27:eChiTiet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemChiThietResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ThemChiThietResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GiamSoLuongXe">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="xe" nillable="true" type="q28:eXeMay" />
        <xs:element minOccurs="0" name="soluong" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GiamSoLuongXeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GiamSoLuongXeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="layToanBoHoaDon">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="layToanBoHoaDonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="layToanBoHoaDonResult" nillable="true" type="q29:ArrayOfeHoaDon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="layChiTietTheoMa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maHD" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="layChiTietTheoMaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="layChiTietTheoMaResult" nillable="true" type="q30:ArrayOfeChiTiet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="timNhanVienTheoMa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maNV" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="timNhanVienTheoMaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="timNhanVienTheoMaResult" nillable="true" type="q31:eNhanVien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimNhanVienTheoTen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ten" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimNhanVienTheoTenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="TimNhanVienTheoTenResult" nillable="true" type="q32:eNhanVien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>